@import "tailwindcss";

@font-face {
  font-family: "inter";
  src: url("./fonts/Inter_28pt-Regular.ttf");
}

@font-face {
  font-family: "spaceG";
  src: url("./fonts/SpaceGrotesk-Medium.ttf");
}

@utility flex-center {
  @apply flex justify-center items-center;
}

@utility flex-start {
  @apply flex justify-start items-center;
}

@utility flex-end {
  @apply flex justify-end items-center;
}

@utility flex-between {
  @apply flex justify-between items-center;
}

@utility flex-around {
  @apply flex justify-around items-center;
}

.t {
  color: rgb(114, 114, 116);
}

@theme {
  --color-accent: rgb(250, 250, 250);
  --color-mutedLg: rgb(217, 219, 221);
  --color-muted: rgb(114, 114, 116);
  --font-spaceG: "spaceG";
  --font-inter: "inter";
}