@import "tailwindcss";

@font-face {
  font-family: "inter";
  src: url("./fonts/Inter_28pt-Regular.ttf");
}

@font-face {
  font-family: "spaceG";
  src: url("./fonts/SpaceGrotesk-Medium.ttf");
}

@font-face {
  font-family: "jsans";
  src: url("./fonts/jsans/static/PlusJakartaSans-Medium.ttf");
}

@font-face {
  font-family: "outfit";
  src: url("./fonts//Outfit-Medium.ttf");
}

@utility flex-center {
  @apply flex justify-center items-center;
}

@utility flex-start {
  @apply flex justify-start items-center;
}

@utility flex-end {
  @apply flex justify-end items-center;
}

@utility flex-between {
  @apply flex justify-between items-center;
}

@utility flex-around {
  @apply flex justify-around items-center;
}

@utility active-btn {
  @apply hover:bg-transparent hover:text-purple-900 active:bg-transparent active:text-purple-900;
}

@utility purple-border {
  @apply border-1 border-purple-900;
}

@utility gray-border {
  @apply border-1 border-gray-500;
}

@utility black-border {
  @apply border-1 border-black
}

@keyframes scroll {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(-100%);
  }
}

.animate-scroll {
  animation: scroll 8s linear forwards infinite;
}

.h {
  color: rgb(24, 23, 23)
}

@theme {
  --color-accent: rgb(250, 250, 250);
  --color-mutedLg: rgb(217, 219, 221);
  --color-dark: rgb(10, 10, 10);
  --color-muted: rgb(114, 114, 116);
  --font-spaceG: "spaceG";
  --font-inter: "inter";
  --font-jsans: "jsans";
  --font-outfit: "outfit";
}