@import "tailwindcss";

@font-face {
  font-family: "roboto";
  src: url("./fonts/Roboto_Condensed/static/RobotoCondensed-Medium.ttf");
}

@font-face {
  font-family: "outfit";
  src: url("./fonts/Outfit/static/Outfit-Medium.ttf");
}

@font-face {
  font-family: "inter";
  src: url("./fonts/Inter/static/Inter_18pt-Medium.ttf");
}

@utility flex-center {
  @apply flex justify-center items-center;
}

@utility flex-start {
  @apply flex justify-start items-center;
}

@utility flex-end {
  @apply flex justify-end items-center;
}

@utility flex-between {
  @apply flex justify-between items-center;
}

@utility flex-around {
  @apply flex justify-around items-center;
}

@utility btn-primary {
  @apply bg-black border-1 border-black text-white hover:text-black hover:bg-transparent py-2 px-3 rounded-md cursor-pointer;
}

@utility btn-secondary {
  @apply bg-secondary border-1 border-secondary hover:bg-transparent hover:text-secondary text-accent py-2 px-3 rounded-md cursor-pointer;
}

@utility btn-lang {
  @apply bg-gray-900 text-blue-500 py-1 px-3 rounded-md border-1 border-gray-700;
}

@theme {
  --color-primary: #151515;
  --color-secondary: #4F46EF;
  --color-accent: #FAFAFA;
  --color-muted: #B5B5B5;
  --color-box: #343434;
  --color-border: #454545;
  --font-roboto: "roboto";
  --font-outfit: "outfit";
  --font-inter: "inter";
}